<% if logged_in? %>

    <%
=begin%>
                    Provide Admin panel to admins
<%
=end%>
    <% if current_user.is_admin %>
        <h3 class='bg-dark text-white'>Admin Panel</h3>
        <%= link_to 'All Users', 'users', :class => 'btn bg-dark btn-outline-info text-white' %>
        <%= link_to 'All Tasks', 'tasks', :class => 'btn bg-dark btn-outline-info text-white' %>
    <% end %>

<%
=begin%>
                    Sort the tasks by User's sort_by field
<%
=end%>

    <%

        users_tasks = current_user.tasks
        categoryS = "Category"
        titleS = "Title"
        descriptionS = "Description"
        datecreatedS = "Date Created"
        duedateS = "Due Date"


        #Due Date
        if current_user.sort_by == 2
            users_tasks = users_tasks.sort_by { |t| t.due_date }
            duedateS = "*Due Date*"

        #Title
        elsif current_user.sort_by == 3
            users_tasks = users_tasks.sort_by { |t| t.title.downcase }
            titleS = "*Title*"
        
        #Category
        elsif current_user.sort_by == 4
            users_tasks = users_tasks.sort_by { |t| t.category.downcase }
            categoryS = "*Category*"


        #Description
        elsif current_user.sort_by == 6
            users_tasks = users_tasks.sort_by { |t| t.description.downcase }
            descriptionS = "*Description*"

        #created_at
        else
            users_tasks = users_tasks.sort_by { |t| t.created_at }
            datecreatedS = "*Date Created*"
        
        end

    %>

<%
=begin%>
                    Jumbotron and toggle switches
<%
=end%>

    <div class='jumbotron bg-dark d-flex flex-row justify-content-center'>
        <h1 class='text-light'><strong> <%= current_user.username.capitalize %>'s Tasks! </strong></h1>        
    </div>

    <% 
        completed_tasksS = "Hide Completed Tasks"
        incomplete_tasksS = "Hide Incomplete Tasks"
        group_byS = "Group by Due Date"


        if !current_user.show_complete
            completed_tasksS = "Show Completed Tasks"
        end
        if !current_user.show_incomplete
            incomplete_tasksS = "Show Incomplete Tasks"
        end
        if current_user.group_by_date
            group_byS = "Ungroup by Due Date"
        end 
    %>
    


    <%= link_to completed_tasksS, 'toggle_show_complete', :class => 'btn bg-dark btn-outline-info text-white' %>
    <%= link_to incomplete_tasksS, 'toggle_show_incomplete', :class => 'btn bg-dark btn-outline-info text-white' %>    
    <%= link_to group_byS, 'group_by_date', :class => 'btn bg-dark btn-outline-info text-white' %>



    <%
=begin%>
                    Display tasks grouped by due date
<%
=end%>

    <% if current_user.group_by_date %>

        <table class='table'>
            <thead class='thead-dark'>
                <tr>
                    <th><button type="button" class="btn bg-dark btn-outline-info text-white">Status</button></th>
                    <th><%= link_to categoryS, 'sort_by_category', :class => 'btn bg-dark btn-outline-info text-white' %></th>
                    <th><%= link_to titleS, 'sort_by_title', :class => 'btn bg-dark btn-outline-info text-white' %></th>
                    <th><%= link_to descriptionS, 'sort_by_description', :class => 'btn bg-dark btn-outline-info text-white' %></th>
                    <th><%= link_to datecreatedS, 'sort_by_created_at', :class => 'btn bg-dark btn-outline-info text-white' %></th>
                    <th><%= link_to duedateS, 'sort_by_due_date', :class => 'btn bg-dark btn-outline-info text-white' %></th>
                    <th colspan="3"><button type="button" class="btn bg-dark btn-outline-info text-white">Controls</button></th>
                </tr>
            </thead>
            
            <tbody>

            <%
=begin%>
                    Split up the tasks into sep arrays based on due date
<%
=end%>

                <% todays_tasks = Array.new %>
                <% next7_tasks = Array.new %>
                <% next30_tasks = Array.new %>
                <% over30_tasks = Array.new %>
                <% pastdue_tasks = Array.new %>
                
                <% 
                    users_tasks.each do |task|
                        if task.due_date < Date.today
                            pastdue_tasks.push(task)
                        elsif task.due_date == Date.today
                            todays_tasks.push(task)
                        elsif task.due_date < (Date.today + 7)
                            next7_tasks.push(task)
                        elsif task.due_date < (Date.today + 30)
                            next30_tasks.push(task)
                        else
                            over30_tasks.push(task)
                        end

                    end
                %>
                

                <%
=begin%>
                    Display a banner for the current Due Date group, then list all tasks in that group
<%
=end%>

                <tr> <td></td><td></td><td></td><td></td> <td><h3 class="bg-dark text-light d-flex justify-content-center">Due Today</h3></td> </tr> 
                <% todays_tasks.each do |task| %>
                         
                    <% if task.is_complete %>
                        <% if current_user.show_complete %>
                            <tr class='table-success'>
                                <td><del><strong> DONE! </strong> </del></td>
                                <td><del><%= task.category %></del></td>                  
                                <td><del><%= task.title %></del></td>
                                <td><del><%= task.description %></del></td>
                                <td><del><%= task.created_at.strftime("%Y-%m-%d") %></del></td>
                                <td><del><%= task.due_date %></del></td>
                                <td><%= link_to 'Show', task, :class => 'btn btn-outline-primary' %></td>
                                <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-outline-warning' %></td>
                                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you wish to delete this task?' }, :class => 'btn btn-outline-danger' %></td>
                            </tr>                        
                        <% end %>
                    <% else %>
                        <% if current_user.show_incomplete %>
                            <tr>
                                <td><%= link_to 'Complete', task, method: :complete, :class => 'btn bg-dark btn-outline-info text-white' %></td>
                                <td><%= task.category %></td> 
                                <td><%= task.title %></td>
                                <td><%= task.description %></td>
                                <td><%= task.created_at.strftime("%Y-%m-%d")%></td>
                                <td><%= task.due_date %></td>
                                <td><%= link_to 'Show', task, :class => 'btn btn-outline-primary' %></td>
                                <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-outline-warning' %></td>
                                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you wish to delete this task?' }, :class => 'btn btn-outline-danger' %></td>
                            </tr>                        
                        <% end %>
                    <% end %>
                <% end %>

                <tr> <td></td><td></td><td></td><td></td> <td><h3 class="bg-dark text-light d-flex justify-content-center">Due in next 7 days</h3></td> </tr>
                <% next7_tasks.each do |task| %>         
                    <% if task.is_complete %>
                        <% if current_user.show_complete %>
                            <tr class='table-success'>
                                <td><del><strong> DONE! </strong> </del></td>
                                <td><del><%= task.category %></del></td>                  
                                <td><del><%= task.title %></del></td>
                                <td><del><%= task.description %></del></td>
                                <td><del><%= task.created_at.strftime("%Y-%m-%d") %></del></td>
                                <td><del><%= task.due_date %></del></td>
                                <td><%= link_to 'Show', task, :class => 'btn btn-outline-primary' %></td>
                                <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-outline-warning' %></td>
                                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you wish to delete this task?' }, :class => 'btn btn-outline-danger' %></td>
                            </tr>                        
                        <% end %>
                    <% else %>
                        <% if current_user.show_incomplete %>
                            <tr>
                                <td><%= link_to 'Complete', task, method: :complete, :class => 'btn bg-dark btn-outline-info text-white' %></td>
                                <td><%= task.category %></td> 
                                <td><%= task.title %></td>
                                <td><%= task.description %></td>
                                <td><%= task.created_at.strftime("%Y-%m-%d")%></td>
                                <td><%= task.due_date %></td>
                                <td><%= link_to 'Show', task, :class => 'btn btn-outline-primary' %></td>
                                <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-outline-warning' %></td>
                                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you wish to delete this task?' }, :class => 'btn btn-outline-danger' %></td>
                            </tr>                        
                        <% end %>
                    <% end %>
                <% end %>
                
                <tr> <td></td><td></td><td></td><td></td> <td><h3 class="bg-dark text-light d-flex justify-content-center">Due in next 30 days</h3></td> </tr>
                <% next30_tasks.each do |task| %>         
                    <% if task.is_complete %>
                        <% if current_user.show_complete %>
                            <tr class='table-success'>
                                <td><del><strong> DONE! </strong> </del></td>
                                <td><del><%= task.category %></del></td>                  
                                <td><del><%= task.title %></del></td>
                                <td><del><%= task.description %></del></td>
                                <td><del><%= task.created_at.strftime("%Y-%m-%d") %></del></td>
                                <td><del><%= task.due_date %></del></td>
                                <td><%= link_to 'Show', task, :class => 'btn btn-outline-primary' %></td>
                                <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-outline-warning' %></td>
                                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you wish to delete this task?' }, :class => 'btn btn-outline-danger' %></td>
                            </tr>                        
                        <% end %>
                    <% else %>
                        <% if current_user.show_incomplete %>
                            <tr>
                                <td><%= link_to 'Complete', task, method: :complete, :class => 'btn bg-dark btn-outline-info text-white' %></td>
                                <td><%= task.category %></td> 
                                <td><%= task.title %></td>
                                <td><%= task.description %></td>
                                <td><%= task.created_at.strftime("%Y-%m-%d")%></td>
                                <td><%= task.due_date %></td>
                                <td><%= link_to 'Show', task, :class => 'btn btn-outline-primary' %></td>
                                <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-outline-warning' %></td>
                                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you wish to delete this task?' }, :class => 'btn btn-outline-danger' %></td>
                            </tr>                        
                        <% end %>
                    <% end %>
                <% end %>

                <tr> <td></td><td></td><td></td><td></td> <td><h3 class="bg-dark text-light d-flex justify-content-center">Due after 30 days</h3></td> </tr>
                <% over30_tasks.each do |task| %>         
                    <% if task.is_complete %>
                        <% if current_user.show_complete %>
                            <tr class='table-success'>
                                <td><del><strong> DONE! </strong> </del></td>
                                <td><del><%= task.category %></del></td>                  
                                <td><del><%= task.title %></del></td>
                                <td><del><%= task.description %></del></td>
                                <td><del><%= task.created_at.strftime("%Y-%m-%d") %></del></td>
                                <td><del><%= task.due_date %></del></td>
                                <td><%= link_to 'Show', task, :class => 'btn btn-outline-primary' %></td>
                                <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-outline-warning' %></td>
                                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you wish to delete this task?' }, :class => 'btn btn-outline-danger' %></td>
                            </tr>                        
                        <% end %>
                    <% else %>
                        <% if current_user.show_incomplete %>
                            <tr>
                                <td><%= link_to 'Complete', task, method: :complete, :class => 'btn bg-dark btn-outline-info text-white' %></td>
                                <td><%= task.category %></td> 
                                <td><%= task.title %></td>
                                <td><%= task.description %></td>
                                <td><%= task.created_at.strftime("%Y-%m-%d")%></td>
                                <td><%= task.due_date %></td>
                                <td><%= link_to 'Show', task, :class => 'btn btn-outline-primary' %></td>
                                <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-outline-warning' %></td>
                                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you wish to delete this class?' }, :class => 'btn btn-outline-danger' %></td>
                            </tr>                        
                        <% end %>
                    <% end %>
                <% end %>

                <tr> <td></td><td></td><td></td><td></td> <td><h3 class="bg-dark text-light d-flex justify-content-center">Overdue</h3></td> </tr>
                <% pastdue_tasks.each do |task| %>         
                    <% if task.is_complete %>
                        <% if current_user.show_complete %>
                            <tr class='table-success'>
                                <td><del><strong> DONE! </strong> </del></td>
                                <td><del><%= task.category %></del></td>                  
                                <td><del><%= task.title %></del></td>
                                <td><del><%= task.description %></del></td>
                                <td><del><%= task.created_at.strftime("%Y-%m-%d") %></del></td>
                                <td><del><%= task.due_date %></del></td>
                                <td><%= link_to 'Show', task, :class => 'btn btn-outline-primary' %></td>
                                <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-outline-warning' %></td>
                                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you wish to delete this task?' }, :class => 'btn btn-outline-danger' %></td>
                            </tr>                        
                        <% end %>
                    <% else %>
                        <% if current_user.show_incomplete %>
                            <tr>
                                <td><%= link_to 'Complete', task, method: :complete, :class => 'btn bg-dark btn-outline-info text-white' %></td>
                                <td><%= task.category %></td> 
                                <td><%= task.title %></td>
                                <td><%= task.description %></td>
                                <td><%= task.created_at.strftime("%Y-%m-%d")%></td>
                                <td><%= task.due_date %></td>
                                <td><%= link_to 'Show', task, :class => 'btn btn-outline-primary' %></td>
                                <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-outline-warning' %></td>
                                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you wish to delete this task?' }, :class => 'btn btn-outline-danger' %></td>
                            </tr>                        
                        <% end %>
                    <% end %>
                <% end %>




            </tbody>
        </table>


        <%
=begin%>
                    List the tasks not grouped by due date
<%
=end%>

    <% else %>
        <table class='table'>
            <thead class='thead-dark'>
                <tr>
                    <th><button type="button" class="btn bg-dark btn-outline-info text-white">Status</button></th>
                    <th><%= link_to categoryS, 'sort_by_category', :class => 'btn bg-dark btn-outline-info text-white' %></th>
                    <th><%= link_to titleS, 'sort_by_title', :class => 'btn bg-dark btn-outline-info text-white' %></th>
                    <th><%= link_to descriptionS, 'sort_by_description', :class => 'btn bg-dark btn-outline-info text-white' %></th>
                    <th><%= link_to datecreatedS, 'sort_by_created_at', :class => 'btn bg-dark btn-outline-info text-white' %></th>
                    <th><%= link_to duedateS, 'sort_by_due_date', :class => 'btn bg-dark btn-outline-info text-white' %></th>
                    <th colspan="3"><button type="button" class="btn bg-dark btn-outline-info text-white">Controls</button></th>
                </tr>
            </thead>
            
            <tbody>
                <% users_tasks.each do |task| %>         
                    <% if task.is_complete %>
                        <% if current_user.show_complete %>
                            <tr class='table-success'>
                                <td><del><strong> DONE! </strong> </del></td>
                                <td><del><%= task.category %></del></td>                  
                                <td><del><%= task.title %></del></td>
                                <td><del><%= task.description %></del></td>
                                <td><del><%= task.created_at.strftime("%Y-%m-%d") %></del></td>
                                <td><del><%= task.due_date %></del></td>       

                                <td><%= link_to 'Show', task, :class => 'btn btn-outline-primary' %></td>
                                <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-outline-warning' %></td>
                                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you wish to delete this task?' }, :class => 'btn btn-outline-danger' %></td>
                            </tr>
                        <% end %> 
                    <% else %>
                        <% if current_user.show_incomplete %>
                            <tr>
                                <td><%= link_to 'Complete', task, method: :complete, :class => 'btn bg-dark btn-outline-info text-white' %></td>
                                <td><%= task.category %></td> 
                                <td><%= task.title %></td>
                                <td><%= task.description %></td>
                                <td><%= task.created_at.strftime("%Y-%m-%d")%></td>
                                <td><%= task.due_date %></td>  
                                <td><%= link_to 'Show', task, :class => 'btn btn-outline-primary' %></td>
                                <td><%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-outline-warning' %></td>
                                <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure you wish to delete this task?' }, :class => 'btn btn-outline-danger' %></td>
                            </tr>
                        <% end %>
                    <% end %>
                <% end %>
            </tbody>

        </table>
    <% end %>


    <%
=begin%>
                    CREATE a new task for this user
<%
=end%>

    <div class='container'>
        <div class='row'>
            <div class='col'>
            </div>
            <div class='col card text-white bg-dark'>
                <div class='card-body'>
                    <%= form_with scope: :task, url: tasks_path, local: true do |f| %>
                    <h4 class="card-title d-flex flex-row justify-content-center">Create New Task</h4>
                    <p class="card-text">
                        <div class='d-flex flex-row justify-content-center'>
                            <%= f.label :category %>
                        </div>
                        <div class='d-flex flex-row justify-content-center'>

                        <%= f.select :category, ['Misc', 'Home', 'Work', 'School', 'Finance', 'Leisure', 'Entertainment', 'Groceries'] %>

                        </div>
                        <div class='d-flex flex-row justify-content-center'>
                            <%= f.label :title %>
                        </div>
                        <div class='d-flex flex-row justify-content-center'>
                            <%= f.text_field :title %>
                        </div>
                        <div class='d-flex flex-row justify-content-center'>
                            <%= f.label :description %>
                        </div>
                        <div class='d-flex flex-row justify-content-center'>
                            <%= f.text_area :description %>
                        </div>
                        <div class='d-flex flex-row justify-content-center'>
                            <%= f.label :due_date %>
                        </div>
                        <div class='d-flex flex-row justify-content-center'>
                            <%= f.date_field :due_date %>
                        </div>
                        <div class='d-flex flex-row justify-content-center'>
                            <%= f.submit "Create New", :class => 'btn bg-dark btn-outline-info text-white' %>
                        </div>
                    </p>
                    <% end %>
                    
                </div>
            </div>

            <div class='col'>
            </div>
        </div>
    </div>


    <div class='d-flex flex-row justify-content-center'>
            <%= link_to "Logout", '/logout', method: :get, :class => 'btn bg-dark btn-outline-info text-white btn-sm d-flex flex-row justify-content-end' %>
    </div>







<% else %>
    <div class='jumbotron bg-dark justify-content-center d-flex'>
        <div class=''>
            <h1 class='text-light text-center'>Welcome to My Tasks</h1>
            <h5 class='text-light text-center'>Log in or sign up to begin</h5>
            <div class='btn-group justify-content-center d-flex' >
                <%= link_to "Login", '/login', method: :get, :class => "btn btn-outline-info text-white text-center" %>
                <%= link_to "Sign Up", '/users/new', method: :get, :class => "btn btn-outline-info text-white text-center" %>
            </div>
        </div>
    </div>
<%end%>